<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js canvas - interactive - voxel painter</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				font-family: Monospace;
				background-color: #f0f0f0;
				margin: 0px;
				overflow: hidden;
			}
		</style>
		<SocketStream/>
	</head>
	<body>

		<script>

			var container, stats;
			var camera, scene, renderer;
			var projector, plane;
			var mouse2D, mouse3D, ray, theta = 45,
			isShiftDown = false, isCtrlDown = false,
			target = new THREE.Vector3( 0, 200, 0 );
			var ROLLOVERED;


			//world vars
			var size = 400
			var blockSize,step
			var gridx = gridz = 8

			init();
			animate();

			function init() {

				container = document.createElement( 'div' );
				document.body.appendChild( container );

				var info = document.createElement( 'div' );
				info.style.position = 'absolute';
				info.style.top = '10px';
				info.style.width = '100%';
				info.style.textAlign = 'center';
				info.innerHTML = '<a href="http://threejs.org" target="_blank">three.js</a> - voxel painter<br><strong>click</strong>: add voxel, <strong>control + click</strong>: remove voxel, <strong>shift</strong>: rotate, <a href="javascript:save();return false;">save .png</a>';
				container.appendChild( info );

				camera = new THREE.PerspectiveCamera( 40, window.innerWidth / window.innerHeight, 1, 10000 );
				camera.position.y = 800;

				scene = new THREE.Scene();

				// Grid

				blockSize = size/gridx
				step = size/gridx

				var geometry = new THREE.Geometry();

				for ( var i = - size; i <= size; i += step ) {

					geometry.vertices.push( new THREE.Vector3( - size, 0, i ) );
					geometry.vertices.push( new THREE.Vector3(   size, 0, i ) );

					geometry.vertices.push( new THREE.Vector3( i, 0, - size ) );
					geometry.vertices.push( new THREE.Vector3( i, 0,   size ) );

				}

				var material = new THREE.LineBasicMaterial( { color: 0x000000, opacity: 0.2 } );

				var line = new THREE.Line( geometry, material );
				line.type = THREE.LinePieces;
				scene.add( line );

				// plane

				projector = new THREE.Projector();

				plane = new THREE.Mesh( new THREE.PlaneGeometry( 1000, 1000 ), new THREE.MeshBasicMaterial() );
				plane.rotation.x = - Math.PI / 2;
				plane.visible = false;
				scene.add( plane );

				mouse2D = new THREE.Vector3( 0, 10000, 0.5 );
				ray = new THREE.Ray( camera.position, null );

				// Lights

				var ambientLight = new THREE.AmbientLight( 0x606060 );
				scene.add( ambientLight );

				var directionalLight = new THREE.DirectionalLight( 0xffffff );
				directionalLight.position.x = Math.random() - 0.5;
				directionalLight.position.y = Math.random() - 0.5;
				directionalLight.position.z = Math.random() - 0.5;
				directionalLight.position.normalize();
				scene.add( directionalLight );

				var directionalLight = new THREE.DirectionalLight( 0x808080 );
				directionalLight.position.x = Math.random() - 0.5;
				directionalLight.position.y = Math.random() - 0.5;
				directionalLight.position.z = Math.random() - 0.5;
				directionalLight.position.normalize();
				scene.add( directionalLight );

				renderer = new THREE.WebGLRenderer({antialias: true});
				renderer.setSize( window.innerWidth, window.innerHeight );

				container.appendChild(renderer.domElement);

				window.addEventListener( 'resize', onWindowResize, false );

			}

			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

			}


			function addBlock(x, y, z, inColor)
			{
				var geometry = new THREE.CubeGeometry( blockSize, blockSize, blockSize);

				for ( var i = 0; i < geometry.faces.length; i ++ ) {
					geometry.faces[ i ].color.setHex( inColor );
				}

				var material = new THREE.MeshLambertMaterial( { vertexColors: THREE.FaceColors } );

				var voxel = new THREE.Mesh( geometry, material );
				voxel.position.x = blockSize * x + 25;
				voxel.position.y = blockSize * y + 25;
				voxel.position.z = blockSize * z + 25;
				voxel.matrixAutoUpdate = false;
				voxel.updateMatrix();
				console.log(voxel);
				scene.add( voxel );
			}

			function addMeshBlock(x,y,z, inColor)
			{
				var geometry = new THREE.CubeGeometry(blockSize, blockSize, blockSize)

				var material = new THREE.MeshBasicMaterial( { color: inColor, wireframe: true, transparent: true } ); 

				var voxel = new THREE.Mesh( THREE.GeometryUtils.clone(geometry), material );
				voxel.position.x = blockSize * x + 25;
				voxel.position.y = blockSize * y + 25;
				voxel.position.z = blockSize * z + 25;
				voxel.matrixAutoUpdate = false;
				voxel.updateMatrix();
				console.log(voxel);
				scene.add( voxel );

			}

			// array based inclusion
			function addMeshBlockArray(x,y,z, inColor)
			{
				var geometry = new THREE.CubeGeometry(blockSize, blockSize, blockSize)

				var material = new THREE.MeshBasicMaterial( { color: inColor, wireframe: true, transparent: true, wireframeLinewidth: 4 } ); 

				var voxel = new THREE.Mesh( geometry, material );
				voxel.position.x = blockSize * (x-gridx) + 25;
				voxel.position.y = blockSize * y + 25;
				voxel.position.z = blockSize * (z-gridz) + 25;
				voxel.matrixAutoUpdate = false;
				voxel.updateMatrix();
				//console.log(voxel);
				scene.add( voxel );

			}

			function createRandomColor()
			{
				var color = new THREE.Color(0xffffff)
				color.setRGB(Math.random().toFixed(2), Math.random().toFixed(2), Math.random().toFixed(2))
				return color
			}

			function coinToss()
			{
				var val = Math.random().toFixed(2)
				if(val > 0.5)
					return 1
				else
					return 0
			}

			// random noise level generator
			function createLevel(ingridx,ingridz,players)
			{
				var levelColor = createRandomColor()
				for(var i=0; i<players; i++)
				{
					var levelArray = []
					//iterate through each floor (one floor == one player)
					for(var x=0;x<(2*ingridx); x++)
					{
						levelArray[x] = []
 						for(var z=0;z<(2*ingridz); z++)
						{
							if(coinToss())
							{
								if(i!=0 && levelArray[x][z] == 1)
								{
									addMeshBlockArray(x,i,z, levelColor)
									levelArray[x][z] = 1	
								}
								else
								{
									addMeshBlockArray(x,i,z, levelColor)
									levelArray[x][z] = 1
								}
							}
								
						}
					}
				}
			}

			function createLevelOne(ingridx, ingridz, players)
			{
				var levelColor = createRandomColor()
				/*
				for(var i=0;i<players;i++)
				{
					addMeshBlockArray(ingridx/2,i,ingridz/2, levelColor)
					addMeshBlockArray(ingridx/2-1,i,ingridz/2, levelColor)

					addMeshBlockArray(ingridx/2,i,ingridz/2-1, levelColor)
					addMeshBlockArray(ingridx/2-1,i,ingridz/2-1, levelColor)
				}
				*/

				var flag=0
				var data = []
				for(var x=0; x<ingridx; x++)
				{
					for(var z=0;z<ingridz;z++)
					{
						data[x] = []
						if((x==ingridx/2 || x==(ingridx/2)-1) && z==ingridz/2)
						{
							flag=1
							data[x][z] = players

						}
						else if((x==ingridx/2 || x==ingridx/2-1) && z==ingridz/2-1)
						{
							flag=1
							data[x][z] = players
						}
						else
						{
							flag=0
							data[x][z] = 0
						}

						if(flag == 1)
						{
							for(var i=0;i<players;i++)
							{
								addMeshBlockArray(x,i,z, levelColor)		
							}
						}

						flag=0

					}
				}

				var outData = []
				var z=0
				for(var i=0;i<ingridx;i++)
				{
					for(var j=0;j<ingridz;j++)
					{
						outData[z] = data[i][j]
						z++
					}
				}

				var jsonver = {
					name: 'level ONE',
					bounds: {x:ingridx, y:ingridz, v:players},
					data: outData
				}
			}

			function save() {
				window.open( renderer.domElement.toDataURL('image/png'), 'mywindow' );
			}


			function animate() {
				requestAnimationFrame( animate );
				render();
			}

			function render() {

				if ( isShiftDown ) {

					theta += mouse2D.x * 3;

				}

				camera.position.x = 1400 * Math.sin( theta * Math.PI / 360 );
				camera.position.z = 1400 * Math.cos( theta * Math.PI / 360 );
				camera.lookAt( target );

				renderer.render( scene, camera );

			}

			/*
			 * TEST FOR ADDING BLOCKS
			 */
			function testAddBlock()
			{
				//addMeshBlock(0,0,0, createRandomColor())
				//addMeshBlockArray(0,0,0, createRandomColor())
				//addMeshBlockArray(0,1,1, createRandomColor())
				createLevelOne(gridx*2, gridz*2, 4)
			}
			testAddBlock();

			ss.event.on('updateCanvas', function(x,y,z) {
				addBlock(x,y,z, 0x00ffff)
			})

		</script>

	</body>
</html>
