<!DOCTYPE html>
<html lang="en">
  <head>
    <SocketStream/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to 3D Collab</title>
  	<script>
  		$(document).ready(function(){
      
			var playerColor = '#000000'
			ss.rpc('game.registerClient', function(response, detail){
				console.log('registered', response, detail)
				if(response && detail.color) {
				  playerColor = detail.color
				}
			 });

  			var tableWidth;
			var tableHeight;
			var numTD = 16;
			var numTR = 16;
			createTRs(numTR);
			createTDs(numTD);
			setDimensions();
			
			var clicking = false;
			
			$(document).bind( "vmousedown", function(){
				clicking = true;
			})
			
			$(document).bind( "vmouseup", function(){
				clicking = false;
			})
			
			$(window).resize(function(){
				setDimensions();
			});
			
// 			$('td').click(function(){
// 				var theCell = $(this);
// 				theCell.x = theCell.attr('id');
// 				theCell.y = theCell.parent().attr('id');
// 	
// 				}).toggle(function(){
// 				  var theCell = $(this)
// 				  theCell.css({backgroundColor: playerColor})
// 				  ss.rpc('game.inputChange', {x: theCell.attr('id'), y: theCell.parent().attr('id'), value: 1});
// 				}, function() {
// 				  var theCell = $(this)
// 				  $(this).css({backgroundColor: ''})
// 				  ss.rpc('game.inputChange', {x: theCell.attr('id'), y: theCell.parent().attr('id'), value: 0});
// 				})
// 					
// 			});
			
			$('td').bind( "vmousedown", function(){
				var theCell = $(this);
				theCell.x = theCell.attr('id');
				theCell.y = theCell.parent().attr('id');
				if (theCell.hasClass('active')){
						theCell.css('background-color', '');
						theCell.removeClass('active');
					  	ss.rpc('game.inputChange', {x: theCell.attr('id'), y: theCell.parent().attr('id'), value: 1});

					}else{
						theCell.css('background-color', playerColor);
						theCell.addClass('active');
					  	ss.rpc('game.inputChange', {x: theCell.attr('id'), y: theCell.parent().attr('id'), value: 1});

					}
			});
				
			$('td').bind( "vmouseout", function(){
				var theCell = $(this);
				theCell.x = theCell.attr('id');
				theCell.y = theCell.parent().attr('id');
				if(clicking == true){
					console.log('Moved in cell: ' + theCell.x + ',' + theCell.y + ' ; clicking: ' + clicking);
					if (theCell.hasClass('active')){
						theCell.css('background-color', '');
						theCell.removeClass('active');
					}else{
						theCell.css('background-color', playerColor);
						theCell.addClass('active');
					}
				}
			});
			
			document.body.addEventListener('touchstart', function(e){ e.preventDefault(); });			
		});
			
  	</script>
  	<script>
  		function createTRs(numberTR){
  			for(var i=numberTR-1;i>=0;i--){
  				$('table').prepend("<tr id='"+i+"'></tr>");
  			}
  		}
  		function createTDs(numberTD){
  			for(var i=numberTD-1;i>=0;i--){
  				$('tr').prepend("<td id='"+i+"'></td>");
  			}
  		}
  		function setDimensions(){
			tableWidth = $('.container').width();
			tableHeight = $('.container').height();
		//	$('td').width(tableWidth/numTD);
		//	$('tr').height(tableHeight/numTR);	
		//	$('td').height(tableHeight/numTR);	
		}
		
	</script>
	<style>		
		html, body {height: 100%;}
		.container{
			height: 80%;
		}
		table{
			width: 100%;
			height: 100%;
			border: 1px solid #ccc;
			border-collapse: collapse;
		}
		td{
			border: 1px solid #ccc;
		}
		td.active{
			
		}
	</style>
</head>
<body>

	<div class="container">
	<table></table>
	</div>
	
<!--
	<div id="coord-input" class="well well-small" onmousemove="getCoords(event)" onmouseout="clearCoords()">
	</div>
	<p>Mouse over the rectangle above, and get the coordinates of your mouse pointer.</p>

	<p id="demo">Coordinates: <span id="xcoord"></span><span id="ycoord"></span><br />
		Width: <span id="divwidth"></span>, Height: <span id="divheight"></span><br />
		Scaled X: <span id="scaled-x"></span>, Scaled Y: <span id="scaled-y"></span>
	</p>
-->
</body>
</html>