<!DOCTYPE html>
<html lang="en">
  <head>
    <SocketStream/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title>Welcome to 3D Collab</title>
  	<script>
  		$(document).ready(function(){

      ss.heartbeatStart()
      
      var playerColor = '#000000'
      var team = null
      var tableWidth;
			var tableHeight;
			var numTD = 16;
			var numTR = 16;
			createTRs(numTR);
			createTDs(numTD);
			setDimensions();
			
      ss.rpc('game.registerClient', function(response, detail){
        console.log('registered', response, detail)
        if(response && detail) {
          playerColor = detail.color
          team = detail.team
          if(team != null) {
            $('#teamname').text('Team ' + team)
          }
          if (detail.grid && detail.grid.length === numTD*numTR) {
            initializeGrid(detail.grid);
          }
          
        }

      });

			
			$(window).resize(function(){
				setDimensions();
			});
			
      var initializeGrid = function(grid) {
        var c = 0
          , x = 0
          , y = 0
        $('td').each(function(td){
          //need to flip x,y coords
          //20 --> 1,4 --> 49
          x = c % numTD
          y = Math.floor(c / numTR)
          c = y * numTR + x
          cFlipped = x*numTR + y
          if (grid[cFlipped] === 1) {
            $(this).css('background-color', playerColor).addClass('active')
          }
          c++
        })

        
      }

			var clicking = false;
      var toolModeAdd = true;
      
      var checkCell = function(cellElement) {
          
          var cell = $(cellElement)
          var x = cell.attr('id');
          var y = cell.parent().attr('id');
          
          if (!toolModeAdd && cell.hasClass('active')){
            cell.css('background-color', '');
            cell.removeClass('active');
            ss.rpc('game.inputChange', {x: x, y: y, value: 0});
          }else if (toolModeAdd && !cell.hasClass('active')){
            cell.css('background-color', playerColor);
            cell.addClass('active');
            ss.rpc('game.inputChange', {x: x, y: y, value: 1});
          }
      }

      $('td').bind( "vmousedown", function(){
        clicking = true;
        toolModeAdd = !$(this).hasClass('active')
        checkCell(this)
      })
      
      $(document).bind( "vmouseup", function(){
        clicking = false;
      })
      
			$('td').bind( "vmouseover", function(e){
				if(clicking == true){
          checkCell(this)
				}
        //e.preventDefault();
			})
			
			document.body.addEventListener('touchstart', function(e){ e.preventDefault(); });			
		
      $(window).on('beforeunload', function() {
        ss.heartbeatStop()
      })
    })
			
  	</script>
  	<script>
  		function createTRs(numberTR){
  			for(var i=numberTR-1;i>=0;i--){
  				$('table').prepend("<tr id='"+i+"'></tr>");
  			}
  		}
  		function createTDs(numberTD){
  			for(var i=numberTD-1;i>=0;i--){
  				$('tr').prepend("<td id='"+i+"'></td>");
  			}
  		}
  		function setDimensions(){
			tableWidth = $('.container').width();
			tableHeight = $('.container').height();
		//	$('td').width(tableWidth/numTD);
		//	$('tr').height(tableHeight/numTR);	
		//	$('td').height(tableHeight/numTR);	
		}
		function clearCells(){
			$('td').css('background-color', '');
		}

    ss.event.on('clearInput', function() {
      clearCells()
    })
		
	</script>
	<style>		
		* {
      -moz-user-select: none; 
      -khtml-user-select: none; 
      -webkit-user-select: none; 
      -o-user-select: none;  
    }
    html, body {
      height: 100%;
    }
		.container{
			height: 80%;
		}
		table{
			width: 100%;
			height: 100%;
			border: 1px solid #ccc;
			border-collapse: collapse;
		}
		td{
			border: 1px solid #ccc;
		}
		td.active{
			
		}
	</style>
</head>
<body>
  <div id="teamname"></div>
	<div class="container">
	<table></table>
	</div>
	
<!--
	<div id="coord-input" class="well well-small" onmousemove="getCoords(event)" onmouseout="clearCoords()">
	</div>
	<p>Mouse over the rectangle above, and get the coordinates of your mouse pointer.</p>

	<p id="demo">Coordinates: <span id="xcoord"></span><span id="ycoord"></span><br />
		Width: <span id="divwidth"></span>, Height: <span id="divheight"></span><br />
		Scaled X: <span id="scaled-x"></span>, Scaled Y: <span id="scaled-y"></span>
	</p>
-->
</body>
</html>