<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Team iOS </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				font-family: Monospace;
				background-color: #f0f0f0;
				margin: 0px;
				overflow: hidden;
			}
		</style>
		<SocketStream/>
	</head>
	<body>
		<script type="text/javascript">
			$(document).ready(function() {

				ss.rpc('game.subscribeTeam2', function(res){
					console.log('subscribed to team2 updates', res)
				})

			});
		</script>
	</body>
</html>
